#include <iostream>
using namespace std;
int main () {
	int bilangan =2;
	cout<<"1*"<<bilangan<<"="<<1*bilangan<<endl;
	cout<<"2*"<<bilangan<<"="<<2*bilangan<<endl;
cout<<"3*"<<bilangan<<"="<<3*bilangan<<endl;
cout<<"4*"<<bilangan<<"="<<4*bilangan<<endl;
cout<<"5*"<<bilangan<<"="<<5*bilangan<<endl;
cout<<"6*"<<bilangan<<"="<<6*bilangan<<endl;
cout<<"7*"<<bilangan<<"="<<7*bilangan<<endl;
cout<<"8*"<<bilangan<<"="<<8*bilangan<<endl;
cout<<"9*"<<bilangan<<"="<<9*bilangan<<endl;
cout<<"10*"<<bilangan<<"="<<10*bilangan<<endl;
cout<<"11*"<<bilangan<<"="<<11*bilangan<<endl;
cout<<"12*"<<bilangan<<"="<<12*bilangan<<endl;
cout<<"13*"<<bilangan<<"="<<13*bilangan<<endl;
cout<<"14*"<<bilangan<<"="<<14*bilangan<<endl;
cout<<"15*"<<bilangan<<"="<<15*bilangan<<endl;
cout<<"16*"<<bilangan<<"="<<16*bilangan<<endl;
cout<<"17*"<<bilangan<<"="<<17*bilangan<<endl;
cout<<"18*"<<bilangan<<"="<<18*bilangan<<endl;
cout<<"19*"<<bilangan<<"="<<19*bilangan<<endl;
cout<<"20*"<<bilangan<<"="<<20*bilangan<<endl;
cout<<"21*"<<bilangan<<"="<<21*bilangan<<endl;
cout<<"22*"<<bilangan<<"="<<22*bilangan<<endl;
cout<<"23*"<<bilangan<<"="<<23*bilangan<<endl;
cout<<"24*"<<bilangan<<"="<<24*bilangan<<endl;
cout<<"25*"<<bilangan<<"="<<25*bilangan<<endl;
cout<<"26*"<<bilangan<<"="<<26*bilangan<<endl;
cout<<"27*"<<bilangan<<"="<<27*bilangan<<endl;
cout<<"28*"<<bilangan<<"="<<28*bilangan<<endl;
cout<<"29*"<<bilangan<<"="<<29*bilangan<<endl;
cout<<"30*"<<bilangan<<"="<<30*bilangan<<endl;
cout<<"31*"<<bilangan<<"="<<31*bilangan<<endl;
cout<<"32*"<<bilangan<<"="<<32*bilangan<<endl;
cout<<"33*"<<bilangan<<"="<<33*bilangan<<endl;
cout<<"34*"<<bilangan<<"="<<34*bilangan<<endl;
cout<<"35*"<<bilangan<<"="<<35*bilangan<<endl;
cout<<"36*"<<bilangan<<"="<<36*bilangan<<endl;
cout<<"37*"<<bilangan<<"="<<37*bilangan<<endl;
cout<<"38*"<<bilangan<<"="<<38*bilangan<<endl;
cout<<"39*"<<bilangan<<"="<<39*bilangan<<endl;
cout<<"40*"<<bilangan<<"="<<40*bilangan<<endl;
}
